.popup__save-btn {
    margin: 18px auto 37px;
    width: 358px;
    height: 50px;
    background: black;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    border: none;
    color: white;
    cursor: pointer;
    transition: opacity .3s ease-in-out;
}

.popup__save-btn:hover {
    opacity: .8;
}

@media screen and (max-width: 767px) {
    .popup__save-btn {
        margin: 15px auto 25px;
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}